body {
   background-color: #1D2D3C;
}

header {
    padding: 20px 0;
    background-color: #06131f;
}

header img {
    width: 50px;
}

main .col .mf-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: #112030;
    border-radius: 8px;
    padding: 20px;
    height: 400px;
    cursor: pointer;
}

.mf-card .top {
    height: 50%;
}

.mf-card .bottom {
    height: 50%;
}

.mf-card .top img {
    width: 70%;
    height: 100%;
    object-fit: contain;
}

.mf-card .bottom h2 {
    font-weight: bold;
}

.mf-card .bottom h5 {
    font-size: 1.1rem;
}

.mf-card .bottom h6{
    font-weight: bold;
    font-size: 1.2rem;
}

